body {
    font: 4px "Century Gothic", Futura, sans-serif;
    margin: 40px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    /* border: 0px; */
    float: left;
    /* font-size: 18px; */
    font-weight: bold;
    line-height: 18px;
    height: 18px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 18px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  .game-board {
    width:60%;
  }
  
  .game-info {
    position:absolute;
    top: 10px;
    left:40px;
    width: 80%;
    padding: 3px;
  }
  
  .game-info2 {
    padding-left: 10px;
    font-weight: bold;
    position: relative;
    left: 5px;
  }

  .label-highlight{
    color: red;
  }